@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@font-face {
    font-family:'android';
    src: url('../fontes/idroid.otf') format('opentype');
}

/*Variaveis de cor  e fontes da pagina*/
:root{
    /*cor*/
--cor1:#c5ebd6;
--cor2:#83e1ad;
--cor3:#3ddc84;
--cor4:#2fa866;
--cor5:#1a5c37;
--cor6:#063d1e;
/*Fontes*/
--font-padrao:Arial, verdana , helvetica, sans-serif;
--font-destaque:'Bebas Neue';
--font-android:'android';
}


/*Configurações gerais do site*/
*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: var(--cor1);
    font-family: var(--font-padrao);
}

header{
    min-height: 150px;
    text-align: center;
    background-image: linear-gradient(to bottom, var(--cor4), var(--cor6));
    padding-top:30px ;
}
header >h1{
color: #fff;
font-family: var(--font-destaque);
margin-bottom: 20px;
text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.342);
font-weight: normal;

}
header >p{
    font-size: 1.2em;
    font-family: var(--font-padrao);
    color: #fff;
    max-width: 600px;
    margin: auto;
    padding-right: 10px;
    padding-left: 10px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.342);
}
nav{
    padding: 13px;
    background-color: var(--cor6);
    text-align: center;
}
nav>a{
    color: #fff;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition-duration: .5s;
}
nav>a:hover{
    background-color:var(--cor3);
}
main{
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    background-color: #fff;
    margin-bottom: 30px;
    border-radius: 0px 0px 10px 10px ;
}
main img{
    width: 100%;
}
.pq{
    display: block;
    width: 50%;
    margin: auto;

}
main h1{
    font-family: var(--font-android);
    color: var(--cor6);
}
main h2{
    background-image: linear-gradient(to right, var(--cor3), transparent);
    color: var(--cor5);
    font-size: 1.3em;
    font-family: var(--font-android);
    font-weight: normal;
}
main p{
    margin: 10px 0px ;
    text-align: justify;
    text-indent: 30px;
    line-height: 1.5em;
    font-size: 1em;
}
main strong{
    color: #000000;
    font-weight: bold;
    background-color: var(--cor1);
    padding: 4px;
    border-radius: 10px;
    font-size: 10px;
}
main a{
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    background-color: var(--cor6);
    padding: 4px;
    border-radius: 10px;
    font-size: 10px;
}
.video{
    background-color: var(--cor6);
    display: block;
    padding: 20px;
   position: relative;
   padding :100px 20px;
    margin:auto;
    margin:-20;
    max-width:800px;

}
.video>iframe{
    display: block;
    width: 100%;
    height: 100%;
}
aside{
   background-color: var(--cor3);
    color: #fff;
    padding: 10px;
    border-radius: 8px;
    max-width: 600px;
    display: block;
    margin: auto;
}
aside>h3{
    margin:-10px -10px 0px -10px;
    background-color: var(--cor5);
    border-radius: 8px 8px 0px 0px;
    padding: 10px;
}
aside>ul{
list-style-position: inside;
padding-left: 5px;
columns: 2;
}
footer{
    background-color: var(--cor6);
    color: #fff;
    padding: 8px;
    font-size: 12px;
    text-align: center;
    
}
footer p a {
    text-decoration: none;
    color: #fff;
}
footer>a:hover{
    color: var(--cor1);
}