  @charset "UTF-8";
  body {
       background-color: rgb(199, 214, 212); 
       font-family: Arial, Helvetica, sans-serif;
    }
    h1{
       color: rgb(250, 245, 246);
      
    }
    h2{
        color: rgb(121, 138, 138);
        
    }
    p{
        color: rgb(23, 23, 189);
        text-align: justify;
    }